{% extends "site/navBar.html" %} {% block title %}Create Habit{% endblock %} {%
block content %}

<div class="text-center mb-4">
  <h2 id="title">Create a New Habit</h2>
</div>

<div class="createHabit">
  <div class="card theme-card shadow" style="width: 18rem">
    <div class="card-body p-4">
      <form>
        <!-- Define Habit -->
        <div class="mb-4">
          <label for="habitName" class="text-light" style="font-weight: 600">
            Habit Name
          </label>
          <input
            type="text"
            class="form-control"
            id="habitName"
            placeholder="e.g. Gym, Cooking, etc..."
            required
          />
        </div>
        <br />

        <!-- Frequency -->
        <div class="mb-4">
          <label class="text-light" style="font-weight: 600"> Frequency </label>
          <div class="d-flex gap-2 flex-wrap">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="frequency"
                id="daily"
                value="daily"
                checked
              />
              <label class="text-alt" for="daily"> Daily </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="frequency"
                id="weekly"
                value="weekly"
              />
              <label class="text-alt" for="weekly"> Weekly </label>
            </div>
          </div>
        </div>
        <br />

        <!-- Reminder Time -->
        <div class="mb-4">
          <label class="text-light" for="reminderTime" style="font-weight: 600">
            Daily Reminder Time
          </label>
          <input type="time" class="form-control" id="reminderTime" />
        </div>

        <!-- Submit Buttons -->
        <div class="d-flex gap-3 mt-4">
          <button type="submit" class="btn theme-btn text-light">
            Create Habit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
