{% extends "site/navBar.html" %} {% block title %}Dashboard{% endblock %} {%
block content %}

<div class="dashboardPage">
  <div class="text-center mb-4">
    <h2 id="title">Welcome Back, {{firstname}}!</h2>
  </div>

  <!-- Active Habits Section -->
  <div class="dashboard-section">
    <h3 class="theme-txt">Your Active Habits</h3>

    <div class="habit-cards">
      <!-- Habit Card 1 -->
      <div class="card theme-card shadow" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title text-light">Morning Gym</h5>
          <p class="text-alt">Partner: Hasan</p>
          <div class="streak-info">
            <span class="badge bg-success">7 Day Streak</span>
          </div>
        </div>
      </div>

      <!-- Habit Card 2 -->
      <div class="card theme-card shadow" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title text-light">Daily Coding</h5>
          <p class="text-alt">Partner: Daniel</p>
          <div class="streak-info">
            <span class="badge bg-success">12 Day Streak</span>
          </div>
        </div>
      </div>

      <!-- Habit Card 3 -->
      <div class="card theme-card shadow" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title text-light">Reading</h5>
          <p class="text-alt">Partner: Yuka</p>
          <div class="streak-info">
            <span class="badge bg-success">3 Day Streak</span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <a href="{{url_for('site.show_habit')}}" class="btn btn-lg theme-btn text-light mt-5"
        >+ Create New Habit</a
      >
      <!-- #: /createHabit.html -->
    </div>
  </div>
</div>

{% endblock %}
