{% extends "site/navBar.html" %} 
{% block title %}Profile{% endblock %} 
{% block content %}

<div class="pageContainer">
  <h2 id="title">Your Profile</h2>
  <div class="card theme-card shadow" style="width: 30rem; padding: 30px;">

    <div class="mb-4">
      <h4 class="text-light mb-3">Profile Summary</h4>

      <div class="mb-3">
        <label class="text-alt">Name:</label>
        <p class="text-light"><strong>{{ profile_name }}</strong></p>
      </div>

      <div class="mt-4">
        <div class="mb-2">
          <span class="text-alt">Number of HandShakes:</span>
          <span class="text-light"><strong> {{ handshake_count }}</strong></span>
        </div>
        <div>
          <span class="text-alt">Number of Friends:</span>
          <span class="text-light"><strong> {{ friend_count }}</strong></span>
        </div>
      </div>

    </div>

  </div>

</div>

{% endblock %}