.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#title {
    text-align: center;
    padding-top: 10px;
}

.partnerShowcase {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}